<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app/main.js"></script>
        <script src="js/app/ServiceOne.js"></script>
        <script src="js/app/ServiceTwo.js"></script>
        <script src="js/app/Controller.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myAppController">
        Enter Value 1 <input type="number" ng-model="value1">
        Enter Value 2 <input type="number" ng-model="value2">
        Enter Value 2 <input type="text" ng-model="value3">
        <button value="Click Me" ng-click="thisMethodOnClick()">
            Click Me</button>
        <br>Hit F12 for Console Output
    </body>
</html>
